{% extends "layout.html" %}


{% block main %}



<section class="generic-banner relative" id="home" >

    <section class="banner-area relative" id="home" style="min-height:100vh; position:relative;">
        <div class="overlay overlay-bg"></div>


        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="col-lg-4" style="margin-top:15%;margin-bottom: 15%;">
                    <h3 class="mb-20" style="color: white;">Register</h3>
                    <div class="">
                        <br>
                        <ul class="unordered-list">

                            {% if error %}
                                <p style="color: red;">{{error}}</p>
                            {% endif %}

                            <form action="/register" method="post">
                                <div class="mt-10">
                                    <input type="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" required class="single-input">
                                </div>
                                <div class="mt-10">
                                    <input type="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required class="single-input">
                                </div>
                                <div class="mt-10">
                                    <input type="password" name="confirm-password" placeholder="Confirm password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm password'" required class="single-input">
                                </div>
                                <div class="input-group-icon mt-10">
                                    <button type="submit" class="genric-btn primary-border">Register</button>
                                </div>
                                <div class="mt-10">
                                    <a style="color: white;" href="/login">Already subscribed? <u style="color: white;">Log In</u> instead</a>
                                </div>
                            </form>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>


{% endblock %}
